<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384- Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node-MySQL-OOP </title>
</head>

<!-- nav menu (exemplo para adaptacao ao sistema)-->
<div class="container">

<nav class="navbar navbar-expand-lg navbar-blue bg-warning">
<a class="navbar-brand" href="/">App Principal</a>
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="/about">Inclui</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/edita">Edita</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Insere">Sobre</a>
</li>
</ul>
</nav>
<!-- card padrao -->
<div class="jumbotron jumbotron-fluid">
<div class="container">
<h4 class="display-5">CRUD Node - MySql</h4>
<h4>Mapeamento de Objetos</h4>
<div class="form-group">
<!-- fim card padrao -->