<%- include("head.ejs"); %>
    <body>
        <div class="table-responsive-sm">
            <table class="table table-striped table-sm">
                <thead>
                    <a class="table-name" href="/">Selecione uma Tabela</a>
                    <tr>
                    <th class="text-center">Tabela</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="text-center">Compras</td>
                            <td>Contratos</td>
                            <td>Estoque</td>
                            <td>Financeiro</td>
                            <td>Transporte</td>
                            <td>Vendas</td>
                            <td class="d-print-none">
                                <a class="btn btn-sm btn-info" href="/editar/<%= item.matricula %>">Expandir</a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>